body{background-color:#303030;}

.page{width:750px;
	  height:800px;
	  padding:0px;
	  margin:40px auto;
	  background-color:white;
	  font-family:halvetica,sans-serif;
	  box-shadow:0px 1px 5px 0px;}
	  
	header{width:inherit;
			height:100px;
			padding:15px 0px;
			margin:0px;
			background-color:white;
			display:flex;
			justify-content:center;}
			
		.me{width:355px;
			height:100px;
			padding:0px;
			margin:0px;}
			
				 
			.names{width:250px;
				   height:60px;
				   padding:20px 0px;
				   margin:0px;
				   color:dodgerblue;
				   font-family:halvetica,sans-serif;
				   float:left;}
				   
				.a{padding:0px; margin:0px;}
				
		.info{color:dodgerblue;
			  width:220px;
			  height:80px;
			  padding:10px 20px;
			  margin:0px 0px 0px 100px;
			  line-height:25px;}
			  
			 
		main {width:inherit;
				height:975px;
				padding-top:1px;
				margin-top:0px;
				background-color:dodgerblue;}
				
			.resume{width:650px;
					height:870px;
					padding:25px;
					margin:30px auto;
					background-color:white;}
				
				.add{width:650px;
					height:100px;
					padding:0px;
					margin:0px;}
					
				.career{width:650px;
						height:80px;
						padding:0px;
						margin:0px;}
						
				table{width:650px;
						height:100px;
						padding:0px;
						margin:0px;
						background-color:white;
						border-collapse:collapse;}
					
					th {border-top:1px solid #ddd;}
					
					th,td{border-bottom:1px solid #ddd;
						  text-align:center;}
						
					Caption{width:inherit;
							height:30px;
							padding:10px 0px;
							margin:0px;
							text-align:left;}
							
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
				
		footer{width:inherit;
				height:20px;
				padding:0px;
				margin:0px;
				background-color:dodgerblue;}
				
			.back{width:40px;
				  height:20px;
				  padding:0px 10px;
				  margin-left:25px;
				  color:White;
				  text-align:center;
				  background-color:dodgerblue;
				  display:inline-block;
				  text-decoration:none;
				  float:left;}
				  
			.next{width:40px;
				  height:20px;
				  padding:0px 10px;
				  margin-right:25px;
				  color:White;
				  text-align:center;
				  background-color:dodgerblue;
				  display:inline-block;
				  text-decoration:none;
				  float:right;}
					
