.sidenav{width: 0;
    height: 100%;
    padding-top:60px;
    background-color: black;
    transition: 0.5s;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    overflow: hidden;}

.next{padding:8px 8px 8px 32px;
        color:white;
        font-size: 25px;
        text-decoration: none;
        background-color:red;
        display: block;
        transition: 0.3s;}

.next:hover{background-color: white; color: black;}

.menu:hover{color:red;}

 #closebtn{position: absolute;
                    top:0;
                    right:0px;
                    font-size: 36px;
                    margin-left: 50px;}

@media screen and (max-width:450px)
    {
        .sidenav{padding-top:15px;}
        .next{font-size: 18px;}
    }